<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Home - Asaka.net Admin {% endblock
  %} {% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="text-center p-4 rounded shadow"
      style="
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        width: 35rem;
      ">
      <h2>Welcome to Asaka.net Admin Portal</h2>
      <p style="font-size: 1.25em">
        <em>Manage your users efficiently and securely.</em>
      </p>
    </div>
  </div>
  {% endblock %}
</html>
